// Paths
$pathToImg = "../img/"
$pathToDevImg = "../../src/img/"
$pathToFonts = "../../src/fonts/"

// Fonts
$reserveFonts = sans-serif;
$mainFont = 'Rubik', $reserveFonts;


// Colors
$black = #000000
$grey = #cecece
$blue = #1468CB

// Sizes
$widthContent = 1530px
$heightHeader = 80px
$heightFooter = 0px
$gridHeight = "calc( 100vh - %s - %s )" % ($heightHeader $heightFooter)

// Animation
$fast = .3s ease-out all
$middle = .5s ease-out all
