.header
  display flex
  justify-content space-between
  align-items center
  width 100%
  height 80px
  padding 0 32px
  position fixed
  left 0
  top 0
  box-shadow inset 0px -1px 0px #CECECE

  &-nav
    display flex
    justify-content center
    align-items center
    &__item
      padding-left 32px
      font-size: 16px
      line-height: 24px
      display flex
      justify-content center
      align-items center
      color $black
      text-decoration none
    &__icon
      size(16px, 16px)
      margin-right 8px
